<div class="jumbotron">
  <div class="container contact">
    <div class="pull-left">
      <h2><strong>BMW GROUP<br>HEADQUARTERS</strong></h2>
      <h3><strong>BMW AG</strong></h3>
      <p>
        Petuelring 130
        <br>
        80788 München
        <br>
        Germany
      </p>
    </div>
    <div class="pull-right contact-img">
      <%= image_tag("BMW-mini.jpg", alt: "Contact BMW HQ", width: '100%') %>
    </div>
  </div>
  <br>
  <div class="container">
    <h2>What people say about us</h2>
    <br>
    <% @comments.each do |comment| %>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 well">
          <p><%= comment.text %></p>
          <div class="pull-right">
            <span class="quiet"><small>on <%= comment.created_at.strftime("%b %d, %Y") %></small></span>
          </div>
        </div>
      </div>
    <% end %>
    <%= render "shared/comments_form" %>
  </div>
</div>
