<div class="jumbotron">
  <div class="container contact">
    <div class="pull-left">
      <h2><strong>BMW GROUP<br>HEADQUARTERS</strong></h2>
      <h3><strong>BMW AG</strong></h3>
      <p>
        Petuelring 130
        <br>
        80788 München
        <br>
        Germany
      </p>
    </div>
    <div class="pull-right contact-img">
      <%= image_tag("BMW-mini.jpg", alt: "Contact BMW HQ", width: '100%') %>
    </div>
  </div>
  <br>
  <div class="form-group text-center">
    <label for="feedback"><strong>Leave a Feedback:</strong></label>
    <textarea class="form-control center" rows="10" id="feedback"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
