<div class="jumbotron">
  <div class="container">
    <div class="thumbnail text-center">
      <%= image_tag("The-BMW-Welt-Experience_2.jpg", alt: "BMW office", class: 'about-img') %>
      <div class="caption">
        <h1>BMW Shop</h1>
        <p>This is our BMW Shop where you can buy a brand new BMW car!</p>
        <h2>Who we are?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus eros, ultrices eget dictum sit amet, tempor sed libero. Cras mollis lobortis erat, vehicula rutrum mi egestas vitae. Nunc convallis quam tellus, rutrum vulputate quam sodales ut. Nullam sed sem lobortis, mattis neque sit amet, tempor massa. Nam gravida orci quis urna placerat volutpat. Sed varius nulla mauris, nec mollis nibh mattis et. Vestibulum porta hendrerit nisl, et malesuada libero efficitur tincidunt. Integer auctor non lacus at iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Quisque vehicula semper enim, in tincidunt leo condimentum ut. Nunc suscipit odio ante, nec dictum orci commodo a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel venenatis nunc. Praesent eu eros eget dui tincidunt fermentum. Nulla facilisi.</p>
      </div>
    </div>
  </div>
</div>
