<% title "Cart" %><br><br><br>
<div class="container">
  <h1 class="text-center">Your Cart</h1><hr>
  <div class="shopping-cart">
    <%= render "shopping_cart" %>
  </div><hr>
  <div class="pull-right">
    <h3 class="total-text">Total: <%= number_to_currency(current_order.subtotal, precision: current_order.subtotal.round == current_order.subtotal ? 0 : 2) %></h3><hr>
    <% unless @order_items.size == 0 %>
      <%= link_to "Empty Cart", @cart, class: "btn btn-lg btn-warning pull-right", method: :delete, data: { confirm: 'Are you sure you want to clear your cart?' } %><br>
    <% end %>
  </div>
</div><br><br>
