<% title "Gallery" %>
<div class="jumbotron">
  <div class="container">
    <h1>List of cars</h1><br>
    <% if signed_in?(:admin) %>
      <%= link_to new_product_path, class: 'btn btn-default btn-md' do %>
       Add product
      <% end %>
    <% end %>
    <div class="row"><br>
      <% @products.each do |product| %>
        <%= render "product_row", product: product, order_item: @order_item %>
      <% end %>
    </div>
  </div>
</div>
